.bg_grass {
  background-color: #9bcc50;
}

.bg_poison {
  background-color: #b97fc9;
}

.bg_fire {
  background-color: #fd7d24;
}

.bg_ice {
  background-color: #51c4e7;
}

.bg_psychic {
  background-color: #f366b9;
}

.bg_water {
  background-color: #4592c3;
}

.bg_rock {
  background-color: #a38c21;
}

.bg_electric {
  background-color: #eed535;
}

.bg_bug {
  background-color: #729f3f;
}

.bg_normal {
  background-color: #a4acaf;
}

.bg_fighting {
  background-color: #d56723;
}

.bg_fairy {
  background-color: #fdb9e9;
}

.bg_steel {
  background-color: #9eb7b8;
}

.bg_ground {
  background-color: #ab9842;
}

.bg_ghost {
  background-color: #7b62a3;
}

.bg_dragon {
  background-color: #f16e57;
}
